/logwrap
/logwrap.o
/test/test_advanced
/test/test_advanced_newline
/test/test_quit
/test/test_simple
/test/test_timed
/test/test_timed_detach
/test/test_long
/test/test_lot_data
/test/test_short_spam
/test/test_process_spam
/test/test_end_write
/test/test_usage
/test/utils/cmd
/test/utils/exit
/test/utils/server
/test/utils/signal
/test/debug*
/test-build/

/coverage/
coverage.info
logwrap.info
